################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LernDevSecOps/FileContentIndex
/.vs/LernDevSecOps/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
